.advertsPage {
  background-color: whitesmoke;
}

.advertsPage-item {
  padding: 5px;
  margin-bottom: 2px;
  border-bottom: 1px solid darkred;
}

.filterNav-container {
  background-color: blanchedalmond;
}

.newAdvert-name {
  border: 1px solid grey;
  margin: 0px 5px;
  border-radius: 15px;
  max-width: 20%;
}

.newAdvert-price {
  border: 1px solid grey;
  margin: 0px 5px;
  border-radius: 15px;
  max-width: 15%;
}
